<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-flex-fluid">
        <div class="d-flex justify-content-center">
            <h1>Change password</h1>
        </div>
        <div class="d-flex justify-content-center">
            <div>
                <form method="post" id="form" class="mt-4" enctype="multipart/form-data">
                    <p class="text-success"><%- message %></p>
                    <p class="text-danger"><%- error %></p>
                    <div>
                        <label for="currentPassword">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                            oninput="confirmCurrentPassword(this.value)">
                        <p id="confirm-password-message"></p>
                    </div>
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            oninput="checkPassword()">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                            oninput="checkPassword()">
                    </div>
                    <div class="form-group">
                        <p class="text-danger"><%- error %></p>
                        <p id="check-message"></p>
                    </div>
                    <button id="button" type="submit" class="btn btn-primary" disabled>Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function confirmCurrentPassword(password) {
            let confirmCurrentPasswordMessage = document.getElementById('confirm-password-message');
            let res = await axios.get(`http://localhost:3000/user/confirm-current-password/${password}`);
            let result = res.data;
            if (result) {
                confirmCurrentPasswordMessage.innerHTML = '<span class="text-success">Current Password Confirmed</span>';
            }
            else {
                confirmCurrentPasswordMessage.innerHTML = '<span class="text-danger">Incorrect Current Password</span>';
            }
        }
        function checkPassword() {
            let confirmCurrentPasswordMessage = document.getElementById('confirm-password-message');
            let password = document.getElementById('password').value;
            let confirmPassword = document.getElementById('confirmPassword').value;
            let message = document.getElementById('check-message');
            let button = document.getElementById('button');
            if (password !== confirmPassword & password.length > 0 & confirmPassword > 0) {
                message.innerHTML = '<span class="text-danger">Passwords mismatch</span>';
                button.disabled = true;
            }
            else {
                if (password == confirmPassword && password.length > 0) {
                    message.innerHTML = '<span class="text-success">Passwords match</span>';
                    if (confirmCurrentPasswordMessage.innerHTML == '<span class="text-success">Current Password Confirmed</span>') {
                        button.disabled = false;
                    }
                    else {
                        button.disabled = true;
                    }
                }
            }

        }
    </script>

</body>

</html>